<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
      <a class="navbar-brand" href="/">Blocpedia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item"><a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
					<li class="nav-item">
            <a class="nav-link" href="/wikis">Wikis</a>
          </li>
					<% if(currentUser && (currentUser.role === "premium" || currentUser.role === "admin")) { %>
              <li class ="nav-item">
               <a class="nav-link" href="/wikis/private">Private Wikis</a>
             </li>
					<% } %>
					<!-- #1 We use the currentUser variable from the middleware function we defined while setting up Passport. If it returns a truthy value, a user is signed in. Inside, we use a link that will sign out the user -->
					<% if(currentUser) { %>
						<li class="nav-item">
       				<a class="nav-link" href="/users/<%= currentUser.id %>">Profile</a>
     				</li>
						<li class="nav-item">
							<a class="nav-link" href="/users/sign_out">Sign out</a>
						</li>
					<% } else { %>
					<!-- #2 If there is no current user, we show links to sign in or sign up -->
						<li class="nav-item">
							<a class="nav-link" href="/users/sign_up">Sign up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/users/sign_in">Sign in</a>
						</li>
					<% }%>
        </ul>
      </div>
    </div>
  </nav>
