body {
  padding-top: 70px;
}

.jumbotron {
  width: 55%;
  background-color: #e3e0cc;
  display: block;
  margin: auto;
  padding: 5%;
  margin-top:3%;
}

.jumbotron h3 {
  padding: 3%;
}

section.plans {
  margin-top: 5%;
}

/* ---INDEX-WIKIS ---*/

.table-index-wikis {
  width: 40%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 3%;
  margin-top: 3%;
}

.main-index-wikis h1 {
  padding-top: 4%;
}

.main-index-wikis {
  text-align: center;
}

.table-wikis-head {
  width: 60%;
}

.table-edit-head {
  width: 20%;
}

/*------SHOW-WIKIS-----*/
.panel-wikis-show {
  margin: 8%;
  border: 2px solid rgb(170, 170, 209);
  border-radius: 5px;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.show-wiki-container {
  text-align: center;
  width: 60%;
}

/*-----EDIT-WIKIS-----*/

.edit-box {
  width: 50%;
  padding-top:4%;
  text-align:center;
}

.edit-box h1 {
  text-align:center;
}

.edit-box form {
  padding-top: 3%;
}
